@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Titillium Web", sans-serif;
  position: relative;
}

/* form section  */

.section-form {
  padding: 10rem 0;
  text-align: center;
  font-size: 1.6rem;
}
.form-input {
  background: #f8f7f5;
  display: inline-block;
  padding: 1.5rem 2rem;
  width: 34%;
  text-align: left;
  color: #b9b8b7;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.form-input-icon i.fa-search {
  color: #b9b8b7;
}
.form-input input {
  background: #f8f7f5;
  border: none;
  margin-left: 1rem;
  width: 91%;
}
.btn-search {
  padding: 1.455rem 3rem;
  border: none;
  margin-left: -1rem;
  color: white;
  background: #f06c4e;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* recipe content css  */
.recipe-section {
  z-index: 100;
}
.seaction-content {
}
.meal {
  background-color: #f8f7f5;
  border-radius: 0.5rem;
  box-shadow: 0rem 1rem 2rem #4e80b3;
}
.meal-details,
.meal-details:link,
.meal-details:visited {
  color: #141313;
}
.meal-details,
.meal-details:link,
.meal-details:visited:hover {
  color: #141313;
  text-decoration: none;
}
.meal-img {
  border-radius: 0.5rem !important;
}
.meal-info {
  padding: 2rem 0;
  text-align: center;
}
.meal-name {
  font-size: 1.8rem;
  font-weight: 600;
}

/* popup section */

.section-popup {
  position: fixed;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.74),
    rgba(0, 0, 0, 0.74)
  );
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* transform: translateX(-193rem); */
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}
.close-icon {
  text-align: right;
  font-size: 4rem;
  color: white;
  margin-right: 5rem;
  margin-top: 5rem;
}
.close-icon .fa-window-close {
  cursor: pointer;
}

.recipe-details {
  background: white;
  border-radius: 1rem;
}
.recipe-img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.recipe-info {
  padding: 2rem 2rem;
}
.recipe-header {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 1rem;
}
.recipe-secondary-header {
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 500;
}
.recipe-list {
  list-style: none;
}
.recipe-item {
}
.recipe-ingredients {
}
.recipe-ingredients-text {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 0rem;
}
.error-msg {
  font-size: 2rem;
}
